<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/register.css">
    </head>
  <style>
        .alert-danger {
          --bs-alert-padding-y: 0 !important;
        }
        input {
           outline: none;
        }
  </style>
    <body>
        <div class="form-container">
            <form id="sign-up">
                <h1>Sign up</h1>
                <div class="form-group">
                  <input type="text" placeholder="Full Name" id="fullName" />
                  <div class="alert alert-danger" role="alert" id="fullNameError" >
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email" id="email"/>
                  <div class="alert alert-danger" role="alert" id="emailError">
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" id="password" />
                  <div class="alert alert-danger" role="alert" id="passwordError" >
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Confirm Password" id="confirmPassword"/>
                  <div class="alert alert-danger" role="alert" id="confirmPasswordError" >
                  </div>
                </div>
                <button type="submit">Sign up</button>
                <h2>Already member? <a href="./login.html"> Log In</a></h2>
              </form>
        </div>
        <script src="../js/api.js"></script>
        <script src="../js/register.js"></script>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
