<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/order.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="admin">
      <div class="side-bar">
        <div class="d-flex flex-column text-white px-4">
          <div
            class="d-flex align-items-center shop-name justify-content-center text-white"
          >
            <span>PINK STORE</span>
          </div>
          <hr />
          <ul>
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-gauge"></i>
              </div>
            </li>
            <hr />
            <li>
              <div class="nav-link text-white py-2">
                <i class="fa-solid fa-table"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-2">
                <i class="fa-solid fa-utensils"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-2">
                <i class="fa-solid fa-money-bill"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-2">
                <i class="fa-solid fa-circle-info"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="right">
        <header>
          <div class="header_right py-3 px-5">
            <i class="fa-solid fa-circle-arrow-left fa-3x"></i>
            <ul>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-magnifying-glass fa-2x"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-bell fa-2x"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-envelope fa-2x"></i
                ></a>
              </li>
            </ul>
            <div class="logo">
              <img src="../img/img11.jpeg" alt="" />
            </div>
          </div>
        </header>
        <main>
          <div class="container">   
            <div class="row row-cols-lg-4 row-cols-md-2 g-4 py-4">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
                 
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
            
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
                    
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
                     
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
            
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
           
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
                   
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
           
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
                      
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
                  
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                  
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
             
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
        
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
         
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
         
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
        
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
        
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
        
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
                    
        
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
        
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
        
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                        <div class="card-body d-flex justify-content-around">
        
                        <button class="btn btn-add">
                            <i class="fa-solid fa-plus"></i></i> ADD
                        </button>
        
                        <button class="btn btn-cart">
                            <i class="fa-solid fa-cart-shopping"></i> CART
                        </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </main>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
