<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/table.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="admin">
      <div class="side-bar">
        <div class="d-flex flex-column text-white px-4">
          <div
            class="d-flex align-items-center justify-content-center text-white shop-name"
          >
          <i class="fa-solid fa-shop fa-2x"></i>
          </div>
          <hr />
          <ul>
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-gauge"></i>
              </div>
            </li>
            <hr />
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-table"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-utensils"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-money-bill"></i>
              </div>
            </li>
            <li>
              <div class="nav-link text-white py-3">
                <i class="fa-solid fa-circle-info"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="right">
        <header>
          <div class="header_right py-3 px-5">
            <i class="fa-solid fa-circle-arrow-left fa-3x"></i>
            <ul>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-magnifying-glass fa-2x"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-bell fa-2x"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  ><i class="fa-solid fa-envelope fa-2x"></i
                ></a>
              </li>
            </ul>
            <div class="logo">
              <img src="../img/img11.jpeg" alt="" />
            </div>
          </div>
        </header>
        <main>
            <div class="container-fluid p-3">
                <div class="choose-table py-3">
                    <span>Choose a table</span>
                    <select name="choose" id="">
                        <option value="table1">Table 1</option>
                        <option value="table1">Table 2</option>
                        <option value="table1">Table 3</option>
                        <option value="table1">Table 4</option>
                        <option value="table1">Table 5</option>
                        <option value="table1">Table 6</option>
                        <option value="table1">Table 7</option>
                        <option value="table1">Table 8</option>
                    </select>
                        <button class="btn btn-pay">
                            <span>pay bill</span>
                        </button>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td><img src="../img/img11.jpeg" alt=""></td>
                        <td>hamburger</td>
                        <td>3</td>
                        <td>$39</td>
                      </tr>
                    </tbody>
                    <tfoot>
                            <tr>
                              <th scope="col" colspan="4">Total</th>
                              <th scope="col">$740</th>
                            </tr>
                    </tfoot>
                  </table>
            </div>
        </main>
      </div>
    </div>
    <script src="../js/home"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
