<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title> -->
    <!-- Bootstrap CSS -->
    <!-- <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/test.css" />

    <style>
      .btn-add {
        background-color: #28a745; /* Màu xanh */
        color: white;
      }

      .btn-cart {
        background-color: #dc3545; /* Màu đỏ */
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container"> -->
      <!-- <div class="row row-cols-lg-4 row-cols-md-2 gap-4 test-1">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
         
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            
    
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
            
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            
             
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
    
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            
   
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
           
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
   
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            
              
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
          
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
          
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
     
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
            

                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART
                </button>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../img/img11.jpeg" alt="Card image cap">
                <div class="card-body d-flex justify-content-around">
 
                <button class="btn btn-add">
                    <i class="fa-solid fa-plus"></i></i> ADD
                </button>
 
                <button class="btn btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i> CART 
                </button>
                </div>
              </div>
        </div>
    </div> -->
      <!-- <div class="test-2">
        <div class="row row-cols-4">
          <div class="card">
            <div class="card-top">
              <div class="food-number">
                <span class="number">1</span>
              </div>
              <h3>Hambuger</h3>
              <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <div class="card-img">
              <img src="../img/img11.jpeg" alt="" />
            </div>
            <span>39$</span>
            <div class="card-bottom">
              <i class="fa-solid fa-circle-plus"></i>
              <input type="number" />
              <i class="fa-solid fa-circle-minus"></i>
            </div>
          </div> -->

          <!-- search  -->
          <!-- <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                  <input id="search-input" type="search" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button id="search-button" type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div> -->
          <!-- <button type="button" class="btn btn-success btn-xs">Add<span class="glyphicon glyphicon-plus"></span></button> -->

          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">TABLE BOOKING</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <form class="name">
                        <span>Customer Name</span>
                        <input type="text" placeholder="Customer Name" />
                      </form>
                      <div class="quantity">
                        <span>Quantity</span>
                        <input type="text" placeholder="Quantity" />
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">Gửi</button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div> -->

    <!-- Font Awesome for icons -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"></script> -->
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html> -->
